.bootstrap.auto/
.bootstrap.local/
dependencies/
mulle-configuration
build/
old/
xcuserdata/
project.xcworkspace/
*~.*
.DS_Store
old/
tmp/
*.dSYM/
*.bak
*.exe
/.bootstrap.auto/
/.bootstrap.local/
/dependencies/
/addictions/
/.repos/
/addictions
/.repos
tap-info.sh
