{
   project =
   {
      description="▶️  Startup code for the MulleFoundation";
      domain="github";
      language="c";
      dialect="objc";
      name="MulleFoundation-startup";
      user="MulleFoundation";
      repo="MulleFoundation-startup";
      homepage="https://github.com/MulleFoundation/MulleFoundation-startup";
      license="BSD-3-Clause";
      version="0.20.9";
   };
   dependencies =
   (
      {
         description="💍 Umbrella library for the MulleFoundation";
         domain="github";
         name="MulleFoundation";
         repo="MulleFoundation";
         url="https://github.com/MulleFoundation/MulleFoundation";
         user="MulleFoundation";
      }
   );
}
